# Ignorar todo lo front como vendored
**/Assets/** linguist-vendored
**/assets/** linguist-vendored
**/vendor/** linguist-vendored
**/plugins/** linguist-vendored
**/jquery-ui/** linguist-vendored
**/*.map linguist-vendored
**/*.svg linguist-vendored
**/*.eot linguist-vendored
**/*.ttf linguist-vendored
**/*.woff linguist-vendored
**/*.woff2 linguist-vendored

# Ignorar todo JS/CSS por defecto
**/*.js linguist-vendored
**/*.css linguist-vendored

# Forzar detección de PHP
*.php linguist-language=PHP
