# Ignorar JS/CSS e íconos de librerías externas para cálculo de lenguajes en GitHub

# Vendor y librerías
Assets/vendor/** linguist-vendored
Assets/jquery-ui/** linguist-vendored
Assets/plugins/** linguist-vendored

# Archivos JS/CSS locales pero no de PHP
Assets/js/** linguist-vendored
Assets/css/** linguist-vendored

# Mapas de código fuente
*.map linguist-vendored

# Fonts e íconos
*.svg linguist-vendored
*.eot linguist-vendored
*.ttf linguist-vendored
*.woff linguist-vendored
*.woff2 linguist-vendored
