<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hossana online</title>
</head>
<body>
                        <!--Como Poner Listas -->
    <!--<ul> y adentro "<li>" -->
    <!--<ol> y adentro "<li>" para listas enumeraras -->
         
    <!--<br>  es para hacer un salto de linea -->
    <!--<a> href="nombre de la carperta"/ es para agregar link a otra pagina<-->
    <!--<a> href="../es para salir una carpeta atras"-->
    
    
    <h1><center>Hossana Store</center></h1>
    <h2>Todo Lo Que Necesitas A Hora Mas Cerca De Ti</h2>
    <p><b>Lorem</b>  ipsum, dolor sit amet consectetur adipisicing elit.<br> Possimus, adipisci enim hic rem perferendis facere reprehenderit fugit blanditiis quos. Quis quos ipsa beatae, blanditiis ea libero? Architecto consequatur iste sit.</p>
    <a href="productos.html">Ver productos</a>
</body>
</html>